$nav-bg: #333;
$nav-bg-active: #4CAF50;
$nav-bg-hover: #ddd; 

$header-main-font: 'Oswald', sans-serif;

.topnav {
    background-color: $nav-bg;
    overflow: hidden;

    a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    a:hover {
        background-color: $nav-bg-hover;
        color: black;
    }

    a:active{
        background-color: $nav-bg-active;
        color: white;
    }
}


