@import "header";

//default html font size is 16px
body {
  background-color: grey;
  min-height: 100%;
  margin: 0;

  /////////////////////  HEADER  /////////////////////////////////
  header {
    position: relative; //Posicion relativa
    height: 40em;
    width: 100%;

    .banner {
      height: 100%;
      background-image: url("../src/banner1.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center top;
      background-attachment: fixed;
      background-color: #ffffff;
      width: 100%;

      .topnav {
        height: 20%;
        width: 100%;

        .topnav-left {
          height: 100%;
          float: left;
          text-align: center;
          font-size: 1em;
          margin-top: 2em;
          margin-left: 2em;

          a {
            display: block;
            color: #ffffff;
            font-family: $header-main-font;
            font-size: 2.2em;
            letter-spacing: 3px;
            font-weight: 400;
            text-align: justify;
          }
        }

        .topnav-right {
          height: 100%;
          float: right;
          text-align: center;
          vertical-align: middle;
          margin-top: 1.2em;

          ul {
            padding: 0;
            list-style: none;

            li {
              font-family: $header-secondary-font;
              display: inline-block;
              position: relative;
              letter-spacing: 2px;
              line-height: 1.3em;
              text-align: left;

              a {
                display: block;
                font-size: 0.8em;
                padding: 0.5em 1.8em;
                color: #ffffff;
                text-decoration: none;
                text-transform: uppercase;
              }

              a:hover {
                color: #cdff10;
              }

              ul.dropdown {
                min-width: 100%; /* Set width of the dropdown */
                background: #f2f2f2;
                border-radius: 0.3em;
                position: absolute;
                display: none;
                z-index: 999;
                left: 0;

                li {
                  display: block;

                  a {
                    color: #333;
                  }
                }
              }
            }

            li:hover {
              ul.dropdown {
                display: block; /* Display the dropdown */
              }
            }
          }
        }
      }
    }
  }
  /////////////////// END HEADER //////////////////////////////////
}
